<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #F4ECF7;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 12px;
}
</style>
</head>
<body>

<h1>Submit your .csv data to our AI model to be labelled by it.</h1>

<form action="http://195.191.164.121:7050/LabelPredCSV_Results" method="post" enctype="multipart/form-data">
    <center> <input type="file" name="file" />
     <input type="submit" ; style="background-color:orange; height:30px; width:70px"/></center>
</form>
</body>


</html>

